<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align: center">
  <h1>Welcome to {{ title }}!</h1>
  <div id="map"></div>
  <br />

  <hr />
  <h4>Try out below functions</h4>
  <button (click)="add_marker()" class="pointer">Add Marker</button>
  <button (click)="remove_marker()" class="pointer">Remove Marker</button>
  <button (click)="zoomIn()" class="pointer">ZoomIn</button>
  <button (click)="zoomOut()" class="pointer">ZoomOut</button>
  <button (click)="moveToCentre()" class="pointer">Move To Centre</button>
  <button (click)="addPolyline()" class="pointer">Add Polyline</button>
  <button (click)="removePolyline()" class="pointer">Remove Polyline</button>
</div>
